<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="q_libn-nU6PEalL0fs7NnWkUu92lNvCqY-ZIu8sx8wo" />

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ site.title | default: site.github.repository_name }}</title>
</head>

<body>
    <div class="wrapper">
        <header>
            {% if site.logo %}
                <img src="{{ site.logo | relative_url }}" alt="Logo" />
            {% endif %}

            <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

            {% if site.description or site.github.project_tagline %}
                <p>{{ site.description | default: site.github.project_tagline }}</p>
            {% endif %}
        </header>
        <section>
            {{ content }}
        </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
</html>